
<section class="our-designs-sec">
<div class="container">
  <div class="row">
    <div class="col-md-6 pr-md-4">
      {{ content.field_slider_view }} 
    </div>
    <div class="col-md-6 bg-white">
      {{ content.field_design1 }}
    </div>
  </div>
</div>
</section>

