<h4>{{ paragraph.field_header_top.value|raw }}</h4>
{{ paragraph.field_header_medium.value|raw }}
{{ paragraph.field_description.value|raw }}
<a href="" class="btn-red">{{ paragraph.field_link.title }}</a>