<section class="testimonials-sec bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            {{ content.field_testimonials_inner }}
            </div>
            <div class="col-md-6">
            {{ content.field_testimonials_view }}
            </div>
        </div>
    </div>
</section>