<header> 
<div class="top-head bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex">
          <i class="fas fa-envelope"></i>
          <p>info@ammicohomes.com</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex float-right">
          <i class="fas fa-phone"></i>
          <p>+0123 456 789</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-md navbar-dark w-100 d-block">
        {{ page.logo }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
              {{ page.navigation }}
      </div>  
    </nav>
  </div>
</div>
</header>